
<div class="col-md-6">
  <%= form_with(model: content, local: true) do |form| %>
  <% if content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(content.errors.count, "error") %> prohibited this content from being saved:</h2>

      <ul>
      <% content.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="post" style="height: 100px">
      <div class="form-group">
        <%= form.text_area :title, :class => "form-control"  %>
        <%= form.submit :class => "btn btn-success" %>
        <%= form.file_field :image %>
      </div>
    </div>
  </div>
  <% end %>