<div class="board-container">
  <div class="col-md-3">
    <div class="sidebar-title">
      <h2>My Profile</h2>
    </div>
      <div class="sidebar-text">
        <p><b>E-MAIL:</b> <%= @user %><br />
        <b>DATE CREATED:</b> --</p>
      </div>
  </div>
  <!-- <div class="col-md-6">
    <div class="post" style="height: 100px">
      <div class="form-group">
        <textarea class="form-control" rows="2" id="post" placeholder="Write about your day here."></textarea>
        <button type="button" class="btn btn-success" style="float: right; margin: 5px;">Create Post</button> 
        <button type="button" class="btn btn-success" style="float: left; margin: 5px;"><i class="fa fa-image fa-2x" style="font-size: 20px;float: right;"></i></button>
      </div>
    </div>
  </div> -->
  <div class="col-md-6">
    <div align="right" style="padding: 10px;">
    <%= link_to 'New Content', new_content_path, :class => "btn btn-header" %>
  </div>
    <% @contents.each do |content| %>
  <div class="tweetEntry">
  <div class="tweetEntry-content">
    <a class="tweetEntry-account-group" href="[accountURL]">
      <strong class="tweetEntry-fullname"><%= content.title %></strong>
      <span class="tweetEntry-username"><b><%= content.user.email %></b></span>
      <span class="tweetEntry-timestamp">- [timestamp]
      - <%= link_to 'Show', content %>

      <% if content.user == current_user %>
      - <%= link_to 'Edit', edit_content_path(content.id) %><!-- <i class="fa fa-edit"></i> -->
      - <%= link_to 'Destroy', content, method: :delete, data: { confirm: 'Are you sure?' } %><!-- <i class="fa fa-trash"></i> -->
      </span>
      <% end %>
    </a>
    <div class="tweetEntry-text-container">
      <% begin %>
       <%= image_tag content.image, :style => "width: 500px;" %>
     <% rescue %>
     <% end %>
    </div>
    
  </div>
  </div>  
  <% end %>
  
</div>
</div>
</div>

