<div class="board-container">
  <div class="col-md-3">
    <div class="sidebar-title">
      <h2>My Profile</h2>
    </div>
      <div class="sidebar-text">
        <p><b>E-MAIL:</b> <%= @user %><br />
        <b>DATE CREATED:</b> --</p>
      </div>
  </div>
  <div class="col-md-6">
    <!-- <div align="right" style="padding: 10px;">
      <%= link_to 'New Content', new_content_path, :class => "btn btn-header" %>
    </div> -->
    <div align="right" style="padding: 10px;">
      <%= link_to 'New Content', new_content_path, :class => "btn btn-header", data: {target: "#exampleModal", toggle: "modal"}  %>
    </div>
    <% @contents.each do |content| %>
  <div class="tweetEntry">
    <div class="tweetEntry-content">
      <div class="dropdown" style="float: right;">
        <button class="btn btn-options dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></button>
          <ul class="dropdown-menu">
            <li><%= link_to 'Show', content %></li>
            <% if content.user == current_user %>
            <li><%= link_to 'Edit', edit_content_path(content.id) %></li>
            <li><%= link_to 'Destroy', content, method: :delete, data: { confirm: 'Are you sure?' } %></li>
            <% end %>
          </ul>
      </div>
      <a class="tweetEntry-account-group" href="[accountURL]">
        <strong class="tweetEntry-fullname"><%= content.title %></strong>
        <span class="tweetEntry-username"><%= content.user.email %></span>
        </span>
      </a>
      <div class="tweetEntry-text-container">
      <% begin %>
      <div align="center">
      <%= link_to image_tag(content.image), content.image, :class => "img-responsive", :id => "myImg" %>
      </div>
     <% rescue %>
     <% end %>
      </div>
    </div>
  </div>  
  <% end %>
</div>
</div>


<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>