<div class="col-md-6">
    <div class="sidebar-title">
      <h2><%= @content.user.email %></h2>
    </div>

    <div style="margin-top: 0px; text-align: center">
      <h6><%= @content.title %></h6>
    </div>
      <% begin %>
        <div align="center">
  	     <%= image_tag(@content.image, style:'width:100%') %>
        </div>
      <% rescue %>
      <% end %>

      <%= link_to 'Edit', edit_content_path(@content) %> |
      <%= link_to 'Back', contents_path %>
  </div>