<div class="login-page">
  <div class="form">
<h1>Sign up</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, :style => "text-transform: uppercase; font-size: 12px; color: #CACCB6" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password, :style => "text-transform: uppercase; font-size: 12px; color: #CACCB6" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, :style => "text-transform: uppercase; font-size: 12px; color: #CACCB6" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", :class => "btn btn-default" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>